:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --footer-bg-color: #2f303a;
  --primary-button-color: #f5f4fa;
  --logo-web-primary: #2196f3;
  --logo-studio-primary: #000000;
  --logo-web-secondary: #2196f3;
  --logo-studio-secondary: #ffffff;
  --primary-border-color: #ececec;
  --primary-icon-color: #afb1b8;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

/* Header */
.header {
  border-bottom: 1px solid var(--primary-border-color);
}
.header__container {
  display: flex;

  align-items: center;
}

.navigation {
  display: flex;

  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo {
  margin-right: 93px;
}

.logo__web {
  color: var(--logo-web-primary);
}

.logo__studio {
  color: var(--logo-studio-primary);
}

.site-nav {
  display: flex;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--current {
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  transform: translateY(29px) scaleX(100%);

  display: block;
  content: "";

  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

@keyframes menuUnderline {
  0% {
    transform: translateY(29px) scaleX(100%);
  }

  100% {
    transform: translateY(29px) scaleX(50%);
  }
}

.site-nav__link--current:hover::after {
  animation-name: menuUnderline;
  animation-duration: 1000ms;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;

  margin-left: auto;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav__item:hover,
.auth-nav__item:focus {
  fill: var(--accent-color);
}
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: currentColor;
}

.auth-nav__link {
  display: flex;

  align-items: center;

  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--hero-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--primary-bg-color);
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  width: 700px;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-radius: 4px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%) scale(1);

  min-width: 530px;
  min-height: 580px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__field {
  position: relative;
  margin-bottom: 10px;
}

.form__field:nth-child(4) {
  margin-bottom: 20px;
}

.form__icon {
  position: absolute;
  top: 29px;
  left: 12px;
  width: 18px;
  height: 18px;

  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid;
  border-color: var(--accent-color);
  outline: none;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  resize: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:focus {
  border: 1px solid;
  border-color: var(--accent-color);
  outline: none;
}

.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form__policy-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.form__policy-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form__policy-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.form__icon-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.form__checkmark {
  width: 16px;
  height: 15px;
  fill: var(--primary-bg-color);
}

.form__policy-checkbox:checked ~ .form__policy-label .form__icon-checkbox {
  background-color: var(--accent-color);
  border: 2px solid transparent;
}

.form__policy-link {
  margin-left: 4px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
}

.form__button {
  margin-left: auto;
  margin-right: auto;
}

.form__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-close:hover {
  fill: var(--accent-color);
}

.form__close-icon {
  width: 18px;
  height: 18px;
}

/* Specialities */
.specialities__container {
  padding-top: 94px;
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.section-title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.specialities__list {
  display: flex;
  justify-content: space-between;
}

.specialities__item {
  width: 270px;
}

.thumb {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
}

.thumb__icon {
  width: 70px;
  height: 70px;
}

.thumb__title {
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.thumb__text {
  line-height: 1.71;
}

/* Profile */
.profile__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.profile__list {
  display: flex;

  justify-content: space-between;
}

.profile__item {
  position: relative;
}

.profile__image {
  display: block;

  max-width: 100%;
  height: auto;
}

.profile__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.profile__text {
  color: var(--primary-bg-color);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.15;
}

/* Staff */
.staff {
  background-color: var(--secondary-bg-color);
}

.staff__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.staff__list {
  display: flex;

  justify-content: space-between;

  text-align: center;
}

.staff__item {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff__image {
  display: block;

  max-width: 100%;
  height: auto;
}

.staff__card {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.staff__name {
  color: var(--title-text-color);

  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.staff__position {
  color: var(--primary-text-color);

  margin-bottom: 16px;

  font-size: 16px;
}

.socials {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 206px;
  height: 44px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  fill: var(--primary-icon-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-bg-color);
}

.socials__icon {
  width: 20px;
  height: 20px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

/* Clients */
.clients__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: var(--primary-icon-color);

  width: 170px;
  height: 92px;

  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  display: inline-block;

  margin-right: 0;
  margin-bottom: 20px;
}

.logo__studio--inverse {
  color: var(--logo-studio-secondary);
}

.footer-nav__item {
  line-height: 1.71;
}

.footer-nav__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-nav__address {
  color: var(--primary-bg-color);

  font-style: normal;
}

.footer-nav__auth {
  color: rgb(255, 255, 255, 0.6);

  font-style: normal;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-nav__auth:hover,
.footer-nav__auth:focus {
  color: var(--accent-color);
}

.socials-block {
  margin-left: 70px;
}

.socials-block__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.socials__link--inverse {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-bg-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-list .link:hover,
.socials-list .link:focus {
  background-color: var(--accent-color);
}

.sub-block {
  margin-left: 93px;
}

.sub-block__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}

.sub-form {
  display: flex;
}

.sub-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.sub-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__input:not(placeholder-shown) {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__input:focus {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.sub-form__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-bg-color);
}

/* PORTFOLIO.HTML */
.portfolio__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter {
  display: flex;

  justify-content: center;

  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  display: inline-block;

  min-width: 73px;

  padding: 6px 22px;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;

  flex-wrap: wrap;
}

.portfolio__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio__image {
  display: block;

  max-width: 100%;
  height: auto;
}
.portfolio__link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__text {
  color: var(--primary-bg-color);

  font-size: 18px;
  line-height: 1.56;
}

.portfolio__link:hover .portfolio__overlay {
  transform: translateY(0%);
}

.portfolio__description {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.portfolio__product-name {
  margin-bottom: 4px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;
}

.portfolio__product-type {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.88;
}
